{% extends "header.html" %}

{% block content %}
<div class="bgimg">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="jumbotron text-center vertical-center">
				<div class="container">
					<h1>Interrogator</h1>
					<p>Welcome to the Interrogator Simulation.</p>
					<p>You are an investigator in charge of finding out who committed a crime. Enter 'start' to start!</p>
					<div class="input-group-btn">
						<a href="/simulation" role="button" class="btn btn-primary btn-lg">Start</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>

{% endblock %}